fastapi
uvicorn[standard]
python-multipart
soundfile
numpy
ctranslate2
faster-whisper
torch
transformers
huggingface_hub
pydub
librosa
google-genai
bcrypt
PyJWT
edge-tts
TTS
python-dotenv
